<div class="sticky-top">
  <lib-nav [title]="'Twentyfive Guida'" [navbarLogo]="'../../assets/img/white-logo.png'" [showLogo]="true"></lib-nav>
</div>
<div class="wrapper">
  <lib-twentyfive-sidebar [sidebarItems]="sidebarItems"></lib-twentyfive-sidebar>
  <div class="container-fluid g-0 h-100">
    <div id="content">
      <router-outlet></router-outlet>
      <div class="d-flex d-md-none" style="height: 20%"></div>
      <div class="d-md-flex d-none" style="height: 15%"></div>
    </div>
  </div>
</div>
